@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply md:py-[12px] py-[8px] md:px-[24px] px-[18px] border border-[#0052CC] text-[#0052CC] md:text-[14px] text-[12px]   bg-[#F2F7FF] rounded-lg md:border-b-4 md:border-r-4 hover:bg-[#0052CC] hover:text-[#FFF]  duration-300;
}

.bg{
  /* box-shadow: -1px 1px 10px 0px rgba(5, 44, 104, 0.20);
  -webkit-box-shadow: -1px 1px 10px 0px rgba(5, 44, 104, 0.20);
  -moz-box-shadow: -1px 1px 10px 0px rgba(5, 44, 104, 0.20); */
  box-shadow: -1px 1px 27px 0px rgba(96, 143, 14, 0.2);
-webkit-box-shadow: -1px 1px 27px 0px rgba(17, 100, 223, 0.2);
-moz-box-shadow: -1px 1px 27px 0px rgba(16, 107, 242, 0.2);
}